
body {font-family: Verdana; color: rgba(53, 2, 2, 0.685);
     background-color: rgb(223, 233, 195) 
    ;padding: auto;margin: auto;


}
#body-center{text-align:auto;margin-left: 230px;}
#body{position:absolute;
width: 978px; 
text-align:left;
	
padding-bottom:10px;
border:0px solid #000000;
}		

.my-favorites	{ border:3px rgb(76, 5, 45) solid; width:300px; height:330px; float: right;margin: 5px;margin-bottom: 500px; 	}
    
   
        
    
    .fquote {  height:270px; width:270px;
        border:3px rgb(76, 5, 45) solid;
        margin: 20px;
        position: relative; right: 20px; ;

    }
    .pool {height: 290px;width:300px; border:3px rgb(76,5,45)solid; float: right;margin: 5px; margin-top: 400px;position: relative;left: 315px; ;}
    #header-center{	
		position:absolute;
		left: 130px;
		top:0px;}
        #header-right{position:absolute;
            left:730px;
            top:0px;}
            #bannerheading{position: right; margin-left: auto;margin-right: auto;}
            